:root{
    --background-color: #000036;
    --primary-color: #7562E0;
    --color-bar: #181824;
    --box-color: #BDBDBD;
    --input-color: #F5F5F5;
    --text-color: #fff;
    --btn-color: #fff;
    --placeholder-color: #000;
    --arrow-color: #fff;
    --border-project-color: #000036;
}
.dark-mode-active:root{
    --background-color: #fff;
    --primary-color: #7562E0;
    --color-bar: #c4c4c4;
    --box-color: #BDBDBD;
    --input-color: #7562e08f;
    --text-color: #7562E0;
    --btn-color: #fff;
    --placeholder-color:#fff;
    --arrow-color: #7562E0;
    --border-project-color: #7562E0;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bar);
    width: 100%;
    height: 70px;
}
.logo-wt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.logo-wt img {
    width: 50px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
li {
    list-style: none;
}
li a {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 300;
    margin: 8px;
}
.dark-mode {
    display: flex;
    align-items: center;
    width: 70px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 60px;
    cursor: pointer;
    position: relative;
}
.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #c4c4c4;
    cursor: pointer;
    transition: all 0.5s;
}
.label {
    display: flex;
    width: 100%;
    margin: 7px;
    justify-content: space-between;
}
#btn-mode {
    background-color: tomato;
    display: none;
    cursor: pointer;
    width: 10px;
}
#btn-mode:checked + .ball {
    transform: translateX(41px);
}
.fa-sun {
    cursor: pointer;
    color: #fff;
}
.fa-moon {
    cursor: pointer;
    color: #fff;
}

#home {
    display: flex;
    width: 100%;
    height: auto;
    line-height: 1;
}
.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.left-side h1 {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    text-align:left;
    font-weight: 300;
    width: 60%;
    font-size: 3.8rem;
    margin: 0;
}
strong {
    color: var(--primary-color);
}
.left-side p {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-right: 30px;
    cursor: pointer;
}
.whatsapp a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--btn-color);
    font-weight: 300;
    font-size: 0.9;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.projects a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-weight: 300;
    font-size: 0.9;
}
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.right-side img {
    width: 75%;
    height: auto;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
#about-me h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.5rem;
    margin: 50px 0 20px 0;
}
#about-me p {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.1rem;
    text-align: justify;
    width: 79%;
}
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.skills h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.5rem;
    margin: 50px 0;
}
.icon-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon-skills img {
    width: 80px ;
    margin: 20px;
    padding: 20px;
}

#projects h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.5rem;
    margin: 50px 0;
}
.conteiner--projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box-project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: auto;
    margin: 20px;
    border: 1px solid var(--border-project-color);
    background-color: #fff;
    border-radius: 10px;
}
.box-project img {
    width: 100%;
    border-radius: 10px;
}
.box-project h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1rem;
}
.box-project p {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 0.9rem;
    text-align: justify;
    width: 90%;
}
.btn-vist {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 120px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-style: none;
}
.btn-vist a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--btn-color);
    font-weight: 400;
    font-size: 0.9rem;
    gap: 8px;
}
.btn-vist img {
    width: 18px;
}

#feedbacks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#feedbacks h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 50px 0;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 280px;
    position: relative;
}
.slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 800ms;
}
.slider img.selected {
    opacity: 1;
}

#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1410px;
    height: auto;
    margin: 50px 0;
}
.left-side-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:1;
    margin: 0;
    padding: 0; 
}
.left-side-contact h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.left-side-contact span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.fa-github, 
.fa-instagram,
.fa-whatsapp {
    color: var(--primary-color);
    margin: 5px;
}
.fa-github:hover, 
.fa-instagram:hover,
.fa-whatsapp:hover {
    color: var(--text-color);
}
.left-side-contact a {
    text-decoration: none;
}
.left-side-contact img {
    width: 200px;
    height: auto;
    margin: 70px 0 27px;
}
.rigth-side-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.rigth-side-contact h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 8px;
}
.rigth-side-contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}
.rigth-side-contact input {
    width: 60%;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--input-color)
}
.rigth-side-contact ::placeholder {
    color: var(--placeholder-color);
}
.rigth-side-contact textarea {
    background-color: var(--input-color);
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    width: 60%;
}
#submit {
    margin-top: 10px;
    width: 20%;
    height: 40px;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    color: var(--btn-color);
    font-weight: 400;
    font-size: 0.8rem;
}

#btn--up {
    position: fixed;
    right: 50px;
    bottom: 20px;
    z-index: 999;
    transition: .5s;
    display: none;
}
.fa-arrow-up {
    cursor: pointer;
    color: var(--arrow-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    background-color: var(--color-bar);
}
footer span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.8rem;
}

@media (max-width: 978px) and (min-width: 725px)
{
    /* Cabecalho */

    nav ul {
        margin-right: 20px;
    }
    li a {
        font-size: 1rem;
    }

    /* Home */
    .left-side,
    .right-side{
        margin-top: 30px;
    }
    .left-side h1 {
        width: 79%;
        font-size: 2.6rem;
        margin-left: 30px;
    }
    .left-side p {
        width: 70%;
    }
    .whatsapp,
    .projects {
        width: 130px;
    }
    .whatsapp a,
    .projects a {
        font-size: 0.8;
    }
    .right-side img {
        width: 90%;
    }

   /* Sobre mim */

    #about-me p {
        width: 90%;
    }
    .icon-skills img {
        width: 70px ;
        margin: 20px;
        padding: 8px;
    }
    /* Projetos */
    
    .box-project{
        width: 40%;
    }

    /* >>>>>>> Inicio de Feedbacks <<<<<< */

    .slider {
        width: 700px;
        height: 230px;
    }

    /* >>>>>>>>>>> Contato <<<<<<<<<< */
    
    .left-side-contact span {
        margin-top: 10px;
    }
    .left-side-contact img {
        margin: 50px 0 27px;
    }
    .left-side-contact h2{
        margin-top: -55px;
        font-size: 1.3rem;
    }
    .rigth-side-contact h2 {
        font-size: 1.3rem;
        text-align: center;
    }
    .rigth-side-contact input{
        width: 80%;
    }
    .rigth-side-contact textarea{
        width: 80%;
    }
    #submit{
        width: 50%;
    }

    /* >>>>>>>>>>> Botao para voltar ao menu <<<<< */

    #btn--up{
        right: 35px;
    }
}

@media (max-width: 725px) and (min-width: 600px)
{
    /* Cabecalho */
    nav {
        display: none;
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition-duration: 0.3s;
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
    }
    .menu.on{
        position: absolute;
        background-color:var(--color-bar);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        top: 0;
    }
    .menu.on nav {
        display: block;
    }
    .menu.on .menu-toggle {
        position: absolute;
        right: 50px;
        top: 20px;
    }
    .menu.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu.on .menu-toggle .two {
       opacity: 0;
    }
    .menu.on .menu-toggle .three {
        transform: rotate(-45deg) translate(6px, -7px);
    }
    .menu.on nav ul {
        text-align: center;
        display: block;
    }
    .menu.on nav ul a {
        text-align: center;
        display: block;
        transition-duration: 0.3s;
        color: #fff;
        font-size: 1.3rem;
        line-height: 2;
    }
    .menu.on nav .dark-mode {
        margin-left: 70px;
    }
    /* Home */
    #home{
        flex-direction: column;
    }
    .left-side,
    .right-side{
        margin-top: 30px;
    }
    .left-side h1 {
        text-align: center;
        width: 100%;
        font-size: 2.6rem;
    }
    .left-side p {
        text-align: center;
        width: 70%;
    }
    .whatsapp,
    .projects {
        width: 130px;
    }
    .whatsapp a,
    .projects a {
        font-size: 0.8;
    }

   /* Sobre mim */

    #about-me p {
        width: 90%;
    }
    .icon-skills img {
        width: 70px ;
        margin: 10px;
        padding: 8px;
    }
    /* Projetos */
    
    .box-project{
        width: 70%;
    }
    /* >>>>>>> Inicio de Feedbacks <<<<<< */

    .slider {
        width: 500px;
        height: 180px;
    }

    /* >>>>>>>>>>> Contato <<<<<<<<<< */

    .conteiner-contact {
        flex-direction: column-reverse;
        text-align: center;
    }
    .left-side-contact span {
        margin-top: 10px;
    }
    .left-side-contact img {
        margin: 50px 0 27px;
    }
    .left-side-contact h2{
        font-size: 1.5rem;
    }
    .rigth-side-contact h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    .rigth-side-contact input{
        width: 80%;
    }
    .rigth-side-contact textarea{
        width: 80%;
    }
    #submit{
        width: 50%;
        margin-bottom: 50px;
    }
    /* >>>>>>>>>>> Botao para voltar ao menu <<<<< */

    #btn--up{
        right: 35px;
    }
}

@media (max-width: 600px) and (min-width: 425px)
{
    /* Cabecalho */
    nav {
        display: none;
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition-duration: 0.3s;
        
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
    }
    .menu.on{
        position: absolute;
        background-color:var(--color-bar);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        top: 0;
    }
    .menu.on nav {
        display: block;
    }
    .menu.on .menu-toggle {
        position: absolute;
        right: 50px;
        top: 20px;
    }
    .menu.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu.on .menu-toggle .two {
       opacity: 0;
    }
    .menu.on .menu-toggle .three {
        transform: rotate(-45deg) translate(6px, -7px);
    }
    .menu.on nav ul {
        text-align: center;
        display: block;
    }
    .menu.on nav ul a {
        text-align: center;
        display: block;
        transition-duration: 0.3s;
        color: #fff;
        font-size: 1.3rem;
        line-height: 2;
    }
    .menu.on nav .dark-mode {
        margin-left: 70px;
    }


    /* Home */
    #home {
        flex-direction: column;
    }
    .left-side,
    .right-side{
        margin-top: 30px;
    }
    .left-side h1 {
        text-align: center;
        width: 100%;
        font-size: 2.6rem;
    }
    .left-side p {
        text-align: center;
        width: 70%;
    }
    .whatsapp,
    .projects {
        width: 130px;
    }
    .whatsapp a,
    .projects a {
        font-size: 0.8;
    }

   /* Sobre mim */

    #about-me p {
        width: 90%;
    }
    .icon-skills img {
        width: 50px ;
        margin: 10px;
        padding: 8px;
    }
    /* Projetos */
    
    .box-project{
        width: 70%;
    }
    /* >>>>>>> Inicio de Feedbacks <<<<<< */

    .slider {
        width: 400px;
        height: 130px;
    }

    /* >>>>>>>>>>> Contato <<<<<<<<<< */

    .conteiner-contact {
        flex-direction: column-reverse;
        text-align: center;
    }
    .left-side-contact span {
        margin-top: 10px;
    }
    .left-side-contact img {
        margin: 50px 0 27px;
    }
    .left-side-contact h2{
        font-size: 1.5rem;
    }
    .rigth-side-contact h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    .rigth-side-contact input{
        width: 80%;
    }
    .rigth-side-contact textarea{
        width: 80%;
    }
    #submit{
        width: 50%;
        margin-bottom: 50px;
    }
    /* >>>>>>>>>>> Botao para voltar ao menu <<<<< */

    #btn--up{
        right: 35px;
    }
}

@media (max-width: 425px) and (min-width: 375px)
{
    /* Cabecalho */
    nav {
        display: none;
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition-duration: 0.3s;
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
    }
    .menu.on{
        position: absolute;
        background-color:var(--color-bar);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        top: 0;
    }
    .menu.on nav {
        display: block;
    }
    .menu.on .menu-toggle {
        position: absolute;
        right: 50px;
        top: 20px;
    }
    .menu.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu.on .menu-toggle .two {
       opacity: 0;
    }
    .menu.on .menu-toggle .three {
        transform: rotate(-45deg) translate(6px, -7px);
    }
    .menu.on nav ul {
        text-align: center;
        display: block;
    }
    .menu.on nav ul a {
        text-align: center;
        display: block;
        transition-duration: 0.3s;
        color: #fff;
        font-size: 1.3rem;
        line-height: 2;
    }
    .menu.on nav .dark-mode {
        margin-left: 70px;
    }
    /* Home */
    #home {
        flex-direction: column;
    }
    .left-side,
    .right-side{
        margin-top: 30px;
    }
    .left-side h1 {
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
    }
    .left-side p {
        text-align: center;
        width: 90%;
    }
    .whatsapp,
    .projects {
        width: 130px;
    }
    .whatsapp a,
    .projects a {
        font-size: 0.8;
    }

   /* Sobre mim */

    #about-me p {
        width: 90%;
    }
    #about-me h2,
    .skills h2,
    #projects h2,
    #feedbacks h2,
    .left-side-contact h2,
    .rigth-side-contact h2
    {
        font-size: 1.3rem;
        text-align: center;
        font-weight: 400;
        padding: 5px;
    }
    .icon-skills img {
        width: 50px ;
        margin: 10px;
        padding: 8px;
    }
    /* Projetos */
    
    .box-project{
        width: 75%;
    }
    /* >>>>>>> Inicio de Feedbacks <<<<<< */

    .slider {
        width: 370px;
        height: 140px;
    }

    /* >>>>>>>>>>> Contato <<<<<<<<<< */

    .conteiner-contact {
        flex-direction: column-reverse;
        text-align: center;
    }
    .left-side-contact span {
        margin-top: 10px;
    }
    .left-side-contact img {
        margin: 50px 0 27px;
    }
    .rigth-side-contact input{
        width: 90%;
    }
    .rigth-side-contact textarea{
        width: 90%;
    }
    #submit{
        width: 50%;
        margin-bottom: 50px;
    }
    /* >>>>>>>>>>> Botao para voltar ao menu <<<<< */

    #btn--up{
        right: 35px;
    }
}

@media (max-width: 375px) and (min-width: 320px)
{
    /* Cabecalho */
    nav {
        display: none;
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition-duration: 0.3s;
        
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
    }
    .menu.on{
        position: absolute;
        background-color:var(--color-bar);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        top: 0;
    }
    .menu.on nav {
        display: block;
    }
    .menu.on .menu-toggle {
        position: absolute;
        right: 50px;
        top: 20px;
    }
    .menu.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu.on .menu-toggle .two {
       opacity: 0;
    }
    .menu.on .menu-toggle .three {
        transform: rotate(-45deg) translate(6px, -7px);
    }
    .menu.on nav ul {
        text-align: center;
        display: block;
    }
    .menu.on nav ul a {
        text-align: center;
        display: block;
        transition-duration: 0.3s;
        color: #fff;
        font-size: 1.3rem;
        line-height: 2;
    }
    .menu.on nav .dark-mode {
        margin-left: 70px;
    }


    /* Home */
    #home {
        flex-direction: column;
    }
    .left-side,
    .right-side{
        margin-top: 30px;
    }
    .left-side h1 {
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
    }
    .left-side p {
        text-align: center;
        width: 90%;
    }
    .whatsapp,
    .projects {
        width: 130px;
    }
    .whatsapp a,
    .projects a {
        font-size: 0.8;
    }

   /* Sobre mim */

    #about-me p {
        width: 90%;
    }

    #about-me h2,
    .skills h2,
    #projects h2,
    #feedbacks h2,
    .left-side-contact h2,
    .rigth-side-contact h2
    {
        font-size: 1.3rem;
        text-align: center;
        font-weight: 400;
        padding: 5px;
    }
    .icon-skills img {
        width: 50px ;
        margin: 10px;
        padding: 8px;
    }
    /* Projetos */
    
    .box-project{
        width: 75%;
    }
    /* >>>>>>> Inicio de Feedbacks <<<<<< */

    .slider {
        width: 300px;
        height: 110px;
    }

    /* >>>>>>>>>>> Contato <<<<<<<<<< */

    .conteiner-contact {
        flex-direction: column-reverse;
        text-align: center;
    }
    .left-side-contact span {
        margin-top: 10px;
    }
    .left-side-contact img {
        margin: 50px 0 27px;
    }
    .rigth-side-contact input{
        width: 90%;
    }
    .rigth-side-contact textarea{
        width: 90%;
    }
    #submit{
        width: 50%;
        margin-bottom: 50px;
    }
    /* >>>>>>>>>>> Botao para voltar ao menu <<<<< */

    #btn--up{
        right: 35px;
    }
}