:root{
    --background-color: #000036;
    --primary-color: #7562E0;
    --color-bar: #181824;
    --box-color: #BDBDBD;
    --input-color: #F5F5F5;
    --text-color-dark: #fff;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}
/* >>>>>>>>>>>>> Inicio do Header <<<<<<<<<<<<<<< */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bar);
    width: 100%;
    height: 70px;
}
.logo-wt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.logo-wt img {
    width: 50px;
}
/* .logo-wt span {
    color: var(--text-color-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-left: 5px;
} */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    position: sticky;
    top:10px;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    
}
li {
    list-style: none;
}
li a {
    color: var(--text-color-dark);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 300;
    margin: 8px;
}
.dark-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 35px;
    border: solid 1px #fff;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
}
.fa-sun {
    color: goldenrod;
}
.fa-moon {
    color: #fff;
}
#btn-mode{
    width: 10px;
}
/* >>>>>>>>>>>>> Inicio do Section home <<<<<<<<<<<<<<< */

#home {
    display: flex;
    width: 100%;
    height: auto;
    line-height: 1;
}
.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.left-side h1 {
    color: var(--text-color-dark);
    font-family: 'Poppins', sans-serif;
    text-align:left;
    font-weight: 300;
    width: 60%;
    font-size: 3.5rem;
    margin: 0;
    
}
strong {
    color: var(--primary-color);
}
.left-side p {
    color: var(--text-color-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    
}
.right-side img {
    width: 80%;
    height: auto;
}

/* >>>>>>>> Botoes <<<<<<<<<< */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-right: 30px;
    cursor: pointer;
}
.whatsapp a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-dark);
    font-weight: 300;
    font-size: 0.9;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.projects a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-dark);
    font-weight: 300;
    font-size: 0.9;
}

/* >>>>>>>> Inicio do Sobre Mim <<<<<<<<<< */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    
}
#about h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.5rem;
    text-align: end;
    margin: 50px 0 20px 0;
    
}
#about p {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-dark);
    font-weight: 300;
    font-size: 1rem;
    text-align: justify;
    width: 79%;
}
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.skills h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.5rem;
    margin: 50px 0 20px 0;
}
.icon-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.icon-skills img {
    width: 80px ;
    margin: 20px;
    padding: 20px;
}

/* >>>>>>>>> Inicio dos Projetos <<<<<<<<<<< */

#projects h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.5rem;
    margin: 40px 0 20px 0;
}
.conteiner--projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: auto;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.box-project img{
    width: 100%;
    border-radius: 10px;
}
.box-project h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1rem;
}
.box-project p {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 0.9rem;
    text-align: justify;
    width: 90%;
}
.btn-vist{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 120px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn-vist a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 0.9rem;
    gap: 8px;
}
.btn-vist img{
    width: 18px;
}

/* >>>>>>> Inicio de Feedbacks <<<<<< */
#feedbacks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#feedbacks h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 40px 0 40px 0;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 280px;
    position: relative;
    
}
.slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 800ms;
}

.slider img.selected {
    opacity: 1;
}

/* >>>>>>>>>>> Contato <<<<<<<<<< */
#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner--contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: baseline;
    width: 100%;
    max-width: 1410px;
    height: auto;
    margin: 100px 0 60px 0;
}
.left-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:1;
    margin: 0;
    padding: 0; 
  
}
.left-contact h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.left-contact span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-dark);
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.fa-github, 
.fa-instagram,
.fa-whatsapp {
    color: var(--primary-color);
    margin: 5px;
}
.fa-github:hover, 
.fa-instagram:hover,
.fa-whatsapp:hover {
    color: var(--text-color-dark);
}
.left-contact a {
    text-decoration: none;
}
.left-contact img {
    width: 200px;
    height: auto;
    margin: 70px 0 27px;
}

.rigth-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    
}
.rigth-contact h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 8px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}
input{
    width: 60%;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--input-color)
}
textarea{
    background-color: var(--input-color);
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}
#submit{
    align-self: flex-start;
    margin-left: 140px;
    margin-top: 10px;
    width: 20%;
    height: 40px;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 0.8rem;
    
}
/* >>>>>>>>>>> Botao para voltar ao menu <<<<< */
div#btn--up{
    position: fixed;
    right: 50px;
    bottom: 20px;
    z-index: 999;
    transition: .5s;
    display: none;
}
#btn--up img {
    width: 30px;
    transform: rotate(270deg);
    cursor: pointer;
}
/* >>>>>>>>> Rodape <<<<<<< */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    background-color: var(--color-bar);
  
}
footer span{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-dark);
    font-weight: 400;
    font-size: 0.8rem;
}